body {
  --zen-hover-background-color: #00000011;
  --zen-active-background-color: #00000016;
  --zen-primary-color: rgb(31, 31, 31);
  --zen-secondary-text-color: rgb(68, 70, 71);
  --zen-background-color: rgb(255, 255, 255);
  --zen-border-color: rgba(0, 0, 0, 0.1);
  --zen-border-width: 1px;
  --zen-icon-fill-color: rgb(31, 31, 31);
  --zen-chart-fill-color: #4d63ff;
  --zen-padding: 8px;

  margin: 0;
  overflow-x: hidden;
  color: var(--zen-primary-color);
  background-color: var(--zen-background-color);
}

@media (prefers-color-scheme: dark) {
  body {
    --zen-background-color: #202124;
    --zen-hover-background-color: rgba(227, 227, 227, 0.08);
    --zen-active-background-color: rgba(227, 227, 227, 0.12);
    --zen-primary-color: #e3e3e3;
    --zen-secondary-text-color: rgb(196, 199, 197);
    --zen-border-color: rgba(255, 255, 255, 0.1);
    --zen-icon-fill-color: rgb(154, 160, 166);
    /* --zen-chart-fill-color: #74fbfc; */
    /* --zen-chart-fill-color: #00ffff; */
    --zen-chart-fill-color: #00e8ff;
  }
}